body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: white;
    color: black;
    margin: 2rem 4rem;
    font-size: 1.5rem;  
}


.seccion-activa{
    color: brown;
}

.carContent{
    border:1px solid black; 
    margin: 1em;
    width: 20em;
}

.cardImage{
    border:1px solid black; 
    height: 230px;
    border-bottom: 1px solid #cbd6dc;
    box-sizing: border-box;
   
}
.cardImage img{
    
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    display: block;
   
}

.cardImage img:hover{
    
    transform: scale(1.5,1);
   
}

.logo{
    width: 100px;
}

.padre-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.grid {
    display:grid;
    grid-template-columns: 100px;
   
}

@media (max-width: 500px) {
   
    .carContent{
        border: 1px solid #ddd;
        border-radius: 4px;
         padding: 5px;
         width: 150px;
    }
}

@media only screen and(min-width:768px){
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}

.gradiente {
    background: linear-gradient(green,yellow);
}